DATABASE_URL=postgresql+psycopg2://checkin_user:CHANGE_ME@localhost:5432/checkin_db
JWT_PRIVATE_KEY_PATH=keys/private_key.pem
JWT_PUBLIC_KEY_PATH=keys/public_key.pem
JWT_ALGORITHM=RS256
TICKET_QR_DIR=qrcodes
REDIS_URL=redis://localhost:6379/0
TICKET_STREAM_NAME=ticket_created
